/*-------------------APPLY TO ALL-------------------------*/
/*PAGE PARTS*/
body {
  background-image: url('images/fondo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14pt;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
  height: 95px;
  background: #B300C5;
  background: -moz-linear-gradient(top, #B300C5 0%, #6900A4 53%, #000000 100%);
  background: -webkit-linear-gradient(top, #B300C5 0%, #6900A4 53%, #000000 100%);
  background: linear-gradient(to bottom, #B300C5 0%, #6900A4 53%, #000000 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;

}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 120px);
}

.side-column {
  width: 15%;
  height: auto;
  display: flex;
  position: fixed;
  background: rgba(180, 0, 255, 0.4);
  background: -moz-radial-gradient(center, #B400FF 0%, #14FCFF 100%);
  background: -webkit-radial-gradient(center, #B400FF 0%, #14FCFF 100%);
  background: radial-gradient(ellipse at center, #B400FF 0%, #14FCFF 100%);
  font-family: 'Ubuntu', sans-serif;
  align-items: center;
  justify-content: center;
  margin-bottom: 0 auto;
  border-radius: 20px;
}

.center-column {
  width: 60%;
  /* The width is set to 3 times wider than the side column */
  height: 100%;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  background: #8B00CE;
  background: -moz-linear-gradient(top, #8B00CE 0%, #0087A4 0%, #B300C5 100%);
  background: -webkit-linear-gradient(top, #8B00CE 0%, #0087A4 0%, #B300C5 100%);
  background: linear-gradient(to bottom, #8B00CE 0%, #0087A4 0%, #B300C5 100%);
  align-items: center;
  text-align: center;
  border: 3px ridge #C7C7C7;
  border-radius: 40px;
  padding: 20px;
  margin-left: 18% auto;
  /* The margin-left is set to the width of the side column */
  margin-right: 22%;
  /* The margin-left is set to the width of the side column */
  flex-direction: column;
  margin: 100px auto;
  /* adjust top and bottom margin */
}

.header {
  display: flex;
  align-items: center;
}

nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;

  font-family: 'Ubuntu', sans-serif;
}
.search-bar {
  flex: 1;
  margin-right: 2px;
  align-self: flex-start
}
.fixed-nav {
  position: fixed;
  background: rgba(179, 0, 197, 0.65);
  /* fallback */
  background: -moz-linear-gradient(top, rgba(179, 0, 197, 0.65) 0%, #24FFDC 83%, #0AC7AF 100%);
  background: -webkit-linear-gradient(top, rgba(179, 0, 197, 0.65) 0%, #24FFDC 83%, #0AC7AF 100%);
  background: linear-gradient(to bottom, rgba(179, 0, 197, 0.65) 0%, #24FFDC 83%, #0AC7AF 100%);
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}

label {
  display: flex;
  width: 100px;
  text-align: center;
  color: rgb(38, 0, 75);
  font-family: 'Ubuntu', sans-serif;
  font-size: medium;
  font-weight: bolder;
}

form input[type="text"], form input[type="email"], form input[type="password"]   {
  padding: 0.5rem;
  font-size: 12px;
  width: 200px;
  height: 30px;
  text-align: center;
  border: 3px ridge #C7C7C7;
  border-radius: 40px;
  font-family: 'Ubuntu', sans-serif;

}

/*TEXT LEVELS*/

h1 {
  color: rgb(41, 0, 70);
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  font-size: large;
}

h2 {
  color: rgb(41, 0, 70);
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  font-size: larger;
}

h3 {
  color: rgb(41, 0, 70);
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  font-size: medium;
}

h4 {
  color: rgb(176, 176, 176);
  text-shadow: 0 0 10px teal;
  font-family: 'Ubuntu', sans-serif;
  font-size: small;
}

h5 {
  color: rgb(41, 0, 70);
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  font-size: smaller;
}

p {
  color: rgb(41, 0, 70);
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
}

/*--------------------------------CONTAINERS-----------------------------------------------*/

.center-column-container {
  background-color: rgba(0, 255, 255, 0.44);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  padding: 20px;
  margin: 20px;
}

.container {
  background-color: rgba(0, 255, 255, 0.44);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  font-family: 'Ubuntu', sans-serif;
  padding: 20px;
  margin: 20px;
}

.profile-container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  padding: 20px;
  margin: 0 autos;
}

.new-account-container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  padding: 20px;
  margin: 20px;
}

/*BUTTONS*/

button,
.btn,
.submit
.following,
.follow-button,
.followers {
  padding: 0.5rem 1rem;
  background: #B400FF;
  background: -moz-radial-gradient(center, #B400FF 0%, #00F1F5 100%);
  background: -webkit-radial-gradient(center, #B400FF 0%, #00F1F5 100%);
  background: radial-gradient(ellipse at center, #B400FF 0%, #00F1F5 100%);
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 12pt;
  width: auto;
  color: #ffffff;
  margin: 10px auto;
  font-weight: bold;
  border: 3px ridge #FFBC33;
  border-radius: 20px;
  cursor: pointer;
}

.settings-btn,.profile-button, .nav-button, .follow-knighter-button {
  padding: 10px 20px;
  margin: 10px auto;
  background: #B400FF;
  background: -moz-radial-gradient(center, #B400FF 0%, #A000A4 70%, #4D0096 100%);
  background: -webkit-radial-gradient(center, #B400FF 0%, #A000A4 70%, #4D0096 100%);
  background: radial-gradient(ellipse at center, #B400FF 0%, #A000A4 70%, #4D0096 100%);
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  border: 3px ridge #FFBC33;
  border-radius: 20px;
  cursor: pointer;
}

/*IMAGES*/

.logo {
  height: 70px;
  margin-right: 20px;
  width: auto;
  border-radius: 20px;
  top: 0;
}

.logosuccess {
  display: block;
  margin: 0 auto;
  /* Set left and right margin to auto */
  height: 230px;
  width: 230px;
  border-radius: 20px;
  top: 0;
}

.footer-logo {
  height: 50px;
  width: auto;
  border: 5px ridge #FFBC33;
border-radius: 40px;

}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 25px;
 margin: 10px auto;
}

/*RESPONSIVE*/

@media (max-width: 600px) {
  .knighter-header img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 400px) {
  .knighter-header img {
    width: 30px;
    height: 30px;
  }
}