body {
   background-image: url('images/fondo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14pt;
}

nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;

  font-family: 'Ubuntu', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}

label {
  display: inline-block;
  width: 100px;
  text-align: right;
  padding-right: 10px;
}

form input[type="text"] {
  padding: 0.5rem;
  font-size: 16px;
  width: 200px;
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 4px;
  margin-right: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #9e0089;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 12pt;
  color: #fff;
  margin-left: 123px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.settings-btn {
  background-color: #9e0089;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
}

.submit-btn {
  background-color: #9e0089;
  font-family: 'Ubuntu', sans-serif;
  width: 200px;
  height: 50px;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: rgb(176, 176, 176);
  text-shadow: 0 0 10px teal;
  font-family: 'Ubuntu', sans-serif;
}
.following,
.follow-button,
.followers {
  background-color: teal;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width:130px;
  margin-left: 25px;
  margin-bottom: 10px;
  
}


.container {
  background-color: teal;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  font-family: 'Ubuntu', sans-serif;
  padding: 20px;
  margin: 20px;
}
.profile-container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  padding: 20px;
  margin: 20px;
}

.new-account-container {
  background-color: #9e0089;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  font-family: 'Ubuntu', sans-serif;
  padding: 20px;
  margin: 20px;
}

.btn {
  background-color: purple;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;

  margin: 20px;
  font-size: 14pt;
  text-align: center;
  cursor: pointer;
}



.fixed-nav {
  position: fixed;
  background-color: rgba(0, 113, 112, 0.759);
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #600064;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logo {
  height: 70px;
  margin-right: 20px;
  width: auto;
  border-radius: 20px;
  top: 0;
}


.search-bar {
  flex: 1;
  margin-right: 2px;
  align-self: flex-start
}

.profile-button {
  height: 40px;
  width: 40px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
  height: 85px;
  background-color: rgb(114, 1, 126);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.footer-logo {
  height: 50px;
  width: auto;
  border-radius: 50%;
}


main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 120px);
}

.side-column {
  width: 20%; /* The width is set to 20% */
  height: 80%;
  display: flex;
  position:fixed; /* The position is set to fixed */
  background-color: #ff00ff45;
  font-family: 'Ubuntu', sans-serif;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px; /* The margin bottom is set to the width of the side column */
}

.center-column {
  width: 60%; /* The width is set to 3 times wider than the side column */
  height: 100%;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(0, 204, 204);
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  margin-top: 100px; /* The margin-left is set to the width of the side column */
  margin-bottom: 100px; /* The margin bottom is set to the width of the side column */
  margin-left: 23%; /* The margin-left is set to the width of the side column */
}

.header {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 25px;
  margin-right: 15px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.follow-info {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

/*.follow-button {
  display: none;
}

/* Only show the follow button when logged in and watching a profile that is not yours
.logged-in .follow-button {
  display: block;
}
 */



.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.follow-knighter-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.fa-shield-heart {
  color: rgb(159, 0, 221);
  font-size: 2.5em;
}


@media (max-width: 600px) {
  .knighter-header img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 400px) {
  .knighter-header img {
    width: 30px;
    height: 30px;
  }
}