/*-------------------APPLY TO ALL-------------------------*/
/*PAGE PARTS*/
body {
  background-image: url('images/fondo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14pt;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
  height: 95px;
  background: #B300C5;
  background: -moz-linear-gradient(top, #B300C5 0%, #6900A4 53%, #000000 100%);
  background: -webkit-linear-gradient(top, #B300C5 0%, #6900A4 53%, #000000 100%);
  background: linear-gradient(to bottom, #B300C5 0%, #6900A4 53%, #000000 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;

}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 120px);
}

.side-column {
  width: 15%;
  /* The width is set to 20% */
  height: 70%;
  display: flex;
  position: fixed;
  /* The position is set to fixed */
  background-color: #ff00ff45;
  font-family: 'Ubuntu', sans-serif;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  /* The margin bottom is set to the width of the side column */
}

.center-column {
  width: 60%;
  /* The width is set to 3 times wider than the side column */
  height: 100%;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  background: #8B00CE;
  background: -moz-linear-gradient(top, #8B00CE 0%, #0087A4 0%, #B300C5 100%);
  background: -webkit-linear-gradient(top, #8B00CE 0%, #0087A4 0%, #B300C5 100%);
  background: linear-gradient(to bottom, #8B00CE 0%, #0087A4 0%, #B300C5 100%);
  align-items: center;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  margin-left: 18% auto;
  /* The margin-left is set to the width of the side column */
  margin-right: 22%;
  /* The margin-left is set to the width of the side column */
  flex-direction: column;
  margin: 100px auto; / adjust top and bottom margin */
  }

.header {
  display: flex;
  align-items: center;
}


.user-info {
  display: flex;
  flex-direction: column;
}

.follow-info {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;

  font-family: 'Ubuntu', sans-serif;
}

.fixed-nav {
  position: fixed;
  background: rgba(179, 0, 197, 0.65); /* fallback */
  background: -moz-linear-gradient(top, rgba(179, 0, 197, 0.65) 0%, #24FFDC 83%, #0AC7AF 100%);
  background: -webkit-linear-gradient(top, rgba(179, 0, 197, 0.65) 0%, #24FFDC 83%, #0AC7AF 100%);
  background: linear-gradient(to bottom, rgba(179, 0, 197, 0.65) 0%, #24FFDC 83%, #0AC7AF 100%);
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}

label {
  display: inline-block;
  width: 100px;
  text-align: right;
  padding-right: 10px;
}

form input[type="text"] {
  padding: 0.5rem;
  font-size: 16px;
  width: 200px;
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 4px;
  margin-right: 1rem;
}

/*TEXT LEVELS*/

h1 {
  color: rgb(176, 176, 176);
  text-shadow: 0 0 10px teal;
  font-family: 'Ubuntu', sans-serif;
  font-size: large;
}

h2 {
  color: rgb(176, 176, 176);
  text-shadow: 0 0 10px teal;
  font-family: 'Ubuntu', sans-serif;
  font-size: larger;
}

h3 {
  color: rgb(176, 176, 176);
  text-shadow: 0 0 10px teal;
  font-family: 'Ubuntu', sans-serif;
  font-size: medium;
}

h4 {
  color: rgb(176, 176, 176);
  text-shadow: 0 0 10px teal;
  font-family: 'Ubuntu', sans-serif;
  font-size: small;
}

h5 {
  color: rgb(176, 176, 176);
  text-shadow: 0 0 10px teal;
  font-family: 'Ubuntu', sans-serif;
  font-size: smaller;
}

p {
  color: rgb(176, 176, 176);
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
}

/*--------------------------------CONTAINERS-----------------------------------------------*/

.center-column-container {
  background-color: rgba(0, 255, 255, 0.44);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  padding: 20px;
  margin: 20px;
}

.container {
  background-color: rgba(0, 255, 255, 0.44);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  font-family: 'Ubuntu', sans-serif;
  padding: 20px;
  margin: 20px;
}

.profile-container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  padding: 20px;
  margin: 20px;
}

.new-account-container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  padding: 20px;
  margin: 20px;
}








/*BUTTONS*/

/*.follow-button {
  display: none;
}

/* Only show the follow button when logged in and watching a profile that is not yours
.logged-in .follow-button {
  display: block;
}
 */

button, .btn,.following,
.follow-button,
.followers {
  padding: 0.5rem 1rem;
  background: #B400FF;
  background: -moz-radial-gradient(center, #B400FF 0%, #00F1F5 100%);
  background: -webkit-radial-gradient(center, #B400FF 0%, #00F1F5 100%);
  background: radial-gradient(ellipse at center, #B400FF 0%, #00F1F5 100%);
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 12pt;
  color: #ffffff;
  margin: 0 auto;
  border: none;
  border: 5px outset #00F6F7;
  border-radius: 20px;
  cursor: pointer;
}

.settings-btn {
  background-color: #9e0089;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
}

.submit-btn {
  background-color: #9e0089;
  font-family: 'Ubuntu', sans-serif;
  width: 200px;
  height: 50px;
  color: #fff;
}

.btn {
  background-color: purple;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;

  margin: 20px;
  font-size: 14pt;
  text-align: center;
  cursor: pointer;
}

.following,
.follow-button,
.followers {
  background-color: teal;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 130px;
  margin-left: 25px;
  margin-bottom: 10px;

}

.nav-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #600064;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.search-bar {
  flex: 1;
  margin-right: 2px;
  align-self: flex-start
}

.profile-button {
  height: 40px;
  width: 40px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.follow-knighter-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.fa-shield-heart {
  color: rgb(159, 0, 221);
  font-size: 2.5em;
}

/*IMAGES*/

.logo {
  height: 70px;
  margin-right: 20px;
  width: auto;
  border-radius: 20px;
  top: 0;
}

.logosuccess {
  display: block;
  margin: 0 auto;
  /* Set left and right margin to auto */
  height: 230px;
  width: 230px;
  border-radius: 20px;
  top: 0;
}

.footer-logo {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 25px;
  margin-right: 15px;
}


/*RESPONSIVE*/

@media (max-width: 600px) {
  .knighter-header img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 400px) {
  .knighter-header img {
    width: 30px;
    height: 30px;
  }
}